{% extends 'base.html' %}

{% block headercontent %}
<link href="/static/css/noauth/clients.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block bodycontent %}

<div id="totop" onclick="topFunction()" class="totop-btn">
    <img src="/static/img/icons/totop.png" draggable="false" class="totop-image">
</div>

<!-- CONTENT -->

    <div class="white-section">
        <h1>TITLE 0</h1>
        <a href="/login">LOGIN</a>
        <br>
        <a href="#">DirecConnect</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Quam pellentesque nec nam aliquam sem. Sed euismod nisi porta lorem mollis aliquam ut. Eget felis eget nunc lobortis.
            Dictum at tempor commodo ullamcorper a. Quis risus sed vulputate odio ut enim.
            Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Id cursus metus aliquam eleifend mi in nulla posuere.
            Aliquam vestibulum morbi blandit cursus. Id velit ut tortor pretium viverra. Sed odio morbi quis commodo odio aenean.
            Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Eu tincidunt tortor aliquam nulla facilisi. Erat nam at lectus urna duis convallis. Nunc mi ipsum faucibus vitae aliquet nec. Tristique risus nec feugiat in fermentum posuere urna. Morbi non arcu risus quis varius quam quisque. Et ligula ullamcorper malesuada proin. Aliquam ultrices sagittis orci a scelerisque.</p>
    </div>


    <div class="parallax-container">
      <div class="parallax">
          <img src="/static/img/index/1.jpg" draggable="false" class="pimage">
      </div>
    </div>

    <div class="white-section">
        <h1>TITLE 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam aliquam sem. Sed euismod nisi porta lorem mollis aliquam ut. Eget felis eget nunc lobortis. Dictum at tempor commodo ullamcorper a. Quis risus sed vulputate odio ut enim. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Id cursus metus aliquam eleifend mi in nulla posuere. Aliquam vestibulum morbi blandit cursus. Id velit ut tortor pretium viverra. Sed odio morbi quis commodo odio aenean. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Eu tincidunt tortor aliquam nulla facilisi. Erat nam at lectus urna duis convallis. Nunc mi ipsum faucibus vitae aliquet nec. Tristique risus nec feugiat in fermentum posuere urna. Morbi non arcu risus quis varius quam quisque. Et ligula ullamcorper malesuada proin. Aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Neque viverra justo nec ultrices dui sapien eget mi proin. Enim ut tellus elementum sagittis vitae et. Mauris pellentesque pulvinar pellentesque habitant. Congue quisque egestas diam in arcu cursus euismod quis viverra. Nibh tellus molestie nunc non blandit massa enim. Lectus magna fringilla urna porttitor rhoncus dolor. Rhoncus urna neque viverra justo nec ultrices dui. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Semper auctor neque vitae tempus quam pellentesque nec. Habitant morbi tristique senectus et netus et malesuada fames. Senectus et netus et malesuada fames ac. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus.</p>
    </div>

    <div class="parallax-container">
      <div class="parallax">
          <img src="/static/img/index/2.jpg" draggable="false" class="pimage">
      </div>
    </div>

    <div class="white-section">
        <h1>TITLE 2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam aliquam sem. Sed euismod nisi porta lorem mollis aliquam ut. Eget felis eget nunc lobortis. Dictum at tempor commodo ullamcorper a. Quis risus sed vulputate odio ut enim. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Id cursus metus aliquam eleifend mi in nulla posuere. Aliquam vestibulum morbi blandit cursus. Id velit ut tortor pretium viverra. Sed odio morbi quis commodo odio aenean. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Eu tincidunt tortor aliquam nulla facilisi. Erat nam at lectus urna duis convallis. Nunc mi ipsum faucibus vitae aliquet nec. Tristique risus nec feugiat in fermentum posuere urna. Morbi non arcu risus quis varius quam quisque. Et ligula ullamcorper malesuada proin. Aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Neque viverra justo nec ultrices dui sapien eget mi proin. Enim ut tellus elementum sagittis vitae et. Mauris pellentesque pulvinar pellentesque habitant. Congue quisque egestas diam in arcu cursus euismod quis viverra. Nibh tellus molestie nunc non blandit massa enim. Lectus magna fringilla urna porttitor rhoncus dolor. Rhoncus urna neque viverra justo nec ultrices dui. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Semper auctor neque vitae tempus quam pellentesque nec. Habitant morbi tristique senectus et netus et malesuada fames. Senectus et netus et malesuada fames ac. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus.</p>
    </div>

    <div class="parallax-container">
      <div class="parallax">
          <img src="/static/img/index/3.jpeg" draggable="false" class="pimage">
      </div>
    </div>

    <div class="white-section">
        <h1>TITLE 3</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam aliquam sem. Sed euismod nisi porta lorem mollis aliquam ut. Eget felis eget nunc lobortis. Dictum at tempor commodo ullamcorper a. Quis risus sed vulputate odio ut enim. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Id cursus metus aliquam eleifend mi in nulla posuere. Aliquam vestibulum morbi blandit cursus. Id velit ut tortor pretium viverra. Sed odio morbi quis commodo odio aenean. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Eu tincidunt tortor aliquam nulla facilisi. Erat nam at lectus urna duis convallis. Nunc mi ipsum faucibus vitae aliquet nec. Tristique risus nec feugiat in fermentum posuere urna. Morbi non arcu risus quis varius quam quisque. Et ligula ullamcorper malesuada proin. Aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Neque viverra justo nec ultrices dui sapien eget mi proin. Enim ut tellus elementum sagittis vitae et. Mauris pellentesque pulvinar pellentesque habitant. Congue quisque egestas diam in arcu cursus euismod quis viverra. Nibh tellus molestie nunc non blandit massa enim. Lectus magna fringilla urna porttitor rhoncus dolor. Rhoncus urna neque viverra justo nec ultrices dui. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Semper auctor neque vitae tempus quam pellentesque nec. Habitant morbi tristique senectus et netus et malesuada fames. Senectus et netus et malesuada fames ac. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus.</p>
    </div>

    <div class="parallax-container">
      <div class="parallax">
          <img src="/static/img/index/4.jpg" draggable="false" class="pimage">
      </div>
    </div>

    <div class="white-section">
        <h1>TITLE 4</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam aliquam sem. Sed euismod nisi porta lorem mollis aliquam ut. Eget felis eget nunc lobortis. Dictum at tempor commodo ullamcorper a. Quis risus sed vulputate odio ut enim. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Id cursus metus aliquam eleifend mi in nulla posuere. Aliquam vestibulum morbi blandit cursus. Id velit ut tortor pretium viverra. Sed odio morbi quis commodo odio aenean. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Eu tincidunt tortor aliquam nulla facilisi. Erat nam at lectus urna duis convallis. Nunc mi ipsum faucibus vitae aliquet nec. Tristique risus nec feugiat in fermentum posuere urna. Morbi non arcu risus quis varius quam quisque. Et ligula ullamcorper malesuada proin. Aliquam ultrices sagittis orci a scelerisque.</p>
        <p>Neque viverra justo nec ultrices dui sapien eget mi proin. Enim ut tellus elementum sagittis vitae et. Mauris pellentesque pulvinar pellentesque habitant. Congue quisque egestas diam in arcu cursus euismod quis viverra. Nibh tellus molestie nunc non blandit massa enim. Lectus magna fringilla urna porttitor rhoncus dolor. Rhoncus urna neque viverra justo nec ultrices dui. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Semper auctor neque vitae tempus quam pellentesque nec. Habitant morbi tristique senectus et netus et malesuada fames. Senectus et netus et malesuada fames ac. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus.</p>
    </div>

    <div class="parallax-container">
      <div class="parallax">
          <img src="/static/img/index/5.png" draggable="false" class="pimage">
      </div>
    </div>

    <div class="grey-section">
        <h1>FOOTER CONTENT</h1>

        <p>LOREMIPSUM FOOTER</p>
    </div>


<!-- END OF CONTENT -->



<script>

    $('.parallax').parallax();

    //Get the to top button:
    mybutton = document.getElementById("totop");

    // When the user scrolls down  200px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {

        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

        /*if (this.hash !== "") {
        var hash = this.hash;
        $('html, body').animate({
        scrollTop: $(hash).offset().top
        }, 800, function(){window.location.hash = hash;});
        }*/

    }

</script>

{% endblock %}