{% extends 'base.html' %}

{% block headercontent %}
<link href="/static/css/noauth/login.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<div class="valign-wrapper loginwrapper">
<div class="loginframe">

    <div class="logoimg">
        <img src="/static/img/logo.png">
    </div>

    <div class="tbar">
        <a>bejelentkezés</a>
    </div>

    <br>
    <div class="credits" id="credits">

        <a id="error">
            Hibás adatok!
        </a>

        <form id="creditentials" method="POST" onsubmit=loadstart()">
            {{ form.hidden_tag() }}

            <div class="inp">
                {{ form.username( id="username", placeholder="felhasználónév", style="text-align: center; width: 80%;", onkeypress="inputkeypress()") }}
            </div>

            <div class="inp">
                {{ form.password( id="password", placeholder="jelszó", style="text-align: center; width: 80%;", onkeypress="inputkeypress()" ) }}
            </div>

            <label class="inp">
                {{ form.remember_me(id="remember_me", type="checkbox") }}
                <span style="color: black;">Emlékezz rám!</span>
            </label>

        </form>

    </div>

    <br>
    <span class="submit_btn valign-wrapper">

        <a href="#">Elfelejtett jelszó</a>

        <button form="creditentials" class="btn_gen">
            <span class="valign-wrapper">
                <i class="material-icons" style="margin-right: 2px;">login</i>
                belépés
            </span>
        </button>

    </span>

</div>
</div>
{% endblock %}