{% extends 'base.html' %}

{% block headercontent %}
<link href="/static/css/noauth/login.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<div class="valign-wrapper loginwrapper">
<div class="loginframe">

    <div class="logoimg">
        <img src="/static/img/logo.png">
    </div>

    <div class="tbar">
        bejelentkezés
    </div>
    <br>
    <div class="credits">
        <input type="text" placeholder="felhasználónév">
        <input type="password" placeholder="jelszó">
    </div>
    <br>
    <div class="submit_btn">
        elfelejtett jelszó
        <button>belépés</button>
    </div>
</div>
</div>
{% endblock %}