.table-component {
	box-sizing: border-box;
	font-size: 0.9em;
}
.table-component table {
	border-bottom: 1px solid black;
	border-collapse: collapse;
}
.table-component thead tr { border-bottom: 1px solid black; }
.table-component td,th { 
	white-space: nowrap;
	padding: 5px 10px 5px 10px; 
}
.table-component th { font-size: 0.9em; }
.table-component tbody tr:nth-child(odd) {
	background-color: #dddddd;
}
.table-component .table-component-pager {
	margin-top: 5px;
	font-size: 1em;
	text-align: center;
}
.table-component .table-component-pager {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.table-component .table-component-pager a {
	padding: 0 2px 0 2px;
	margin: 0 5px 0 5px;
	cursor: pointer;
}
.table-component .table-component-pager span {
	margin: 0 10px 0 10px;
}
.table-component tbody tr.selected {
	background-color: steelblue;
	color: white;
}
.table-component .sorter {
	cursor: pointer;
}
.table-component .sorter.sort-selected {
	color: red;
}
.table-component .record-menu span {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.table-component .record-menu span a {
	font-size: 1.5em;
	padding: 5px;
	cursor: pointer;
}