.white-section{
    background-color: white;
    margin: 0;
    padding: 2vw;
}

.grey-section{
    background-color: rgb(122,122,122);
    margin: 0;
    padding: 2vw;
}

.pimage{
    display: flex;
    width: 98%;
}

.totop-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3vw;
    height: 3vw;
    z-index: 1;
    cursor: pointer;
    backdrop-filter: blur(2px);
    border-radius: 50%;
}

.totop-image{
    max-width: 100%;
    max-height: 100%;
}

.parallax-container {
      height: 400px;
    }