/* Roboto font betöltése (csak regular) */
@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
:root {
	--fontColor: #444444;
	--lightBackground: #eeeeee;
	--darkBackground: #54668e;
	--inactive: #b3b3b3;
	--active: #444444;
}
* {
	box-sizing: border-box;
	font-family: Roboto;
}
html { height: 100%; }
body {
	height: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	background-color: var(--darkBackground);
	font-size: 13pt;
	color: var(--fontColor);
}



/* ************************* */
/* A felhasználói felület alapvető szerkezete */
/* 
APP-CONTAINER 
 |- APP-MAIN-MENU (1)
 |   |- OPT-LOGO (1)
 |   |- INFO-BOX (1)
 |   |   |- USERNAME (1)
 |   |   |- SMALL-MENU (1)
 |   |       |- MENUITEM (n)
 |   |
 |   |- BIG-MENU (1)
 |       |- MENUITEM (n)
 |
 |- APP-CONTENT
     |- APP-TAB (n)
         |- APP-TAB-CONTENT (1)

*/

.app-container {
	display: grid;
	grid-template-rows: auto 100fr;
	grid-row-gap: 5px;
	min-height: 100%;
	position: relative;
}
.app-main-menu {
	height: 70px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: var(--lightBackground);
}
.app-main-menu .opt-logo {
	background-image: url("../img/logo.png");
	min-width: 74px;
	min-height: 60px;
	margin-left: 30px;
}
.app-main-menu .info-box {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 10px;
}
.app-main-menu .info-box .username { 
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 5px;
}
.app-main-menu .info-box .small-menu {
	font-size: 1em;
	color: var(--darkBackground);
}
.app-main-menu .big-menu {
	margin-left: 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-self: flex-end;
	position: relative;
	bottom: -5px;
}
.app-main-menu .big-menu a {
	display: flex;
	flex-flow: column nowrap;
	padding: 5px 10px 5px 10px;
	justify-content: flex-start;
	align-items: center;
	margin: 0 5px 0 5px;

	color: var(--inactive);
}
.app-main-menu .big-menu a .fa { font-size: 2em; }
.app-main-menu a {
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	font-weight: bold;
}
.app-main-menu a .fa,span { transition: all 0.5s ease; }
.app-main-menu a:hover .fa,span { filter: brightness(0.85); }
.app-main-menu a.active { 
	color: var(--fontColor); 
	background-color: var(--lightBackground);
}
.app-main-menu .info-box .small-menu a {
	margin: 0 0.5em 0 0;
}

/* A program ablaka */
.app-content {
	margin-left: auto;
	margin-right: auto;
	width: 99%;

	position: relative;
}
.app-content .app-disabled-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
}

/* A tabok */
.app-tab {
	background-color: var(--lightBackground);
	width: 100%;
	padding: 5px;

	position: relative;
	padding: 1em;
}
.app-tab.visible {
	display: block;
}
.app-tab .preloader {
	top: 5px;
	right: 5px;
	background-image: url(../img/loader.gif);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 200px;
}
.app-tab h1 {
	font-size: 1.1em;
	margin: 0 0 30px 0;
	text-align: center;
	color: var(--fontColor);
}
.app-tab section {
	margin: 1em 0 1em 0;
}
.app-tab a.button {
	text-decoration: none;
	cursor: pointer;
	background-color: #e09c2f;
	color: white;
	padding: 0.2em 1em 0.2em 1em;
	border-radius: 1em 0;
	transition: all 0.3s ease;
}
.app-tab a.button:hover {
	filter: brightness(0.85);
}




/* Advanced table stílusozása */
/* ADVANCED-TABLE komponens felépítése */
/*
DIV.advanced-table
 |--TABLE
 |   |--THEAD
 |   |   |--TR
 |   |       |--TH (n-times)
 |   |           |--SPAN.sort-icon
 |   |               |-- I.fa (3x)
 |   |--TBODY
 |       |--TR (empty)
 |           |--TD
 |               |--DIV.empty-content
 |       |--TEMPLATE (n-times)
 |           |--TR.(-/selected)
 |           |   |--TD (n-times)
 |           |--TR.record-menu-container
 |               |--TD
 |                   |--DIV.record-menu
 |                       |--A (n-times)
 |                           |--I.fa
 |--DIV.page-selector
     |--A (--> I.fa)
     |--A (--> I.fa)
     |--SPAN.page-display
     |--A (--> I.fa)
     |--A (--> I.fa)

*/
.advanced-table tbody {
	border-top: 1px solid var(--darkBackground);
	border-bottom: 1px solid var(--darkBackground);
}
.advanced-table tbody tr:nth-child(odd) { background-color: #cccccc; }
.advanced-table tbody tr.selected {
	background-color: #EDE580;
}
.advanced-table tbody tr.record-menu-container {
	background-color: #EDE580;
	color: #e09c2f;
	font-size: 1.2em;
	text-align: left !important;
}
.advanced-table thead {
	font-size: 0.8em;
	font-weight: bold;
}
.advanced-table tbody td { padding: 0.3em 0.2em 0.3em 0.2em; }
.advanced-table .record-menu-container a:hover { filter: brightness(0.8); }
.advanced-table .record-menu { padding-left: 3em; }
.advanced-table .record-menu a { transition: all 0.5s ease; }
.advanced-table .page-selector {
	font-size: 0.8em;
	margin-top: 0.5em;
}
