<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<script src="../vue3.js"></script>

	<link rel="stylesheet" href="AdvancedTable.css"/>
	<script src="../action-router/ActionRouter.js"></script>
	<script src="AdvancedTable.js"></script>
	<script src="main.js" defer></script>
</head>
<body>

	<div id="app">


		<advanced-table
			:fields="[
				{name: 'id', title: 'ID', alignment: 'right', sortable: true, width: '3ch'},
				{name: 'author', title: 'szerző', alignment: 'left', sortable: true, width: '16ch'},
				{name: 'title', title: 'cím', alignment: 'left', sortable: true},
				{name: 'genre', title: 'műfaj', alignment: 'center', sortable: true, width: '6ch'}
			 ]"
			:records="konyvekEnhanced"
			:page="0"
			:records-per-page="15"
			:record-menu="[
				{title: 'Könyv törlése', icon: 'fa-trash-alt', action: 'torles'},
				{title: 'Könyv törlése', icon: 'fa-trash-alt', action: 'torles'}
			]"
			:action-router="actionRouter"
			@selection-changed="handleSelectionChanged"
			>
		</advanced-table>

	</div>

</body>
</html>