<style>
.db_main_holder{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid blue;
}

.backupicon{
    cursor: pointer;
    transition: .2s;
}

.backupicon:hover{
    color: #aaaaaa;
}

</style>

<div class="db_main_holder">
    Hello World!

    <p>-> Teljes RESET(KIVÉVE AZ ADMINOKAT!) <i class="fa fa-angry backupicon" style="color:red;" onclick="reset_db()"></i> </p>
    <p>-> Teljes mentés <i class="fa fa-box backupicon" onclick="backup_db_all()"></i> </p>
    <p>-> Teljes visszaállítás <i class="fa fa-box-open backupicon" onclick="restore_db_all()"></i> </p>
    <p>-> Részleges mentés (felhasználó, modulok, ???)</p>
    <p>-> Részleges visszaállítás (felhasználó, modulok, ???)</p>

</div>
