{% extends 'base.html' %}

{% block headercontent %}
<link rel="stylesheet" href="static/css/admin/opt-adminuser-generic.css"/>

<script src="static/js/admin/opt-adminuser-generic.js" defer></script>
<script src="static/js/admin/opt-ui-admin.js" defer></script>

<script>var admin_data = {{data|safe}};</script>

<!-- komponensek -->
<link rel="stylesheet" href="static/css/components/TableComponent.css"/>


<script src="static/js/components/ActionRouter.js"></script>
<script src="static/js/components/AdvancedTable.js"></script>

{% endblock %}

{% block bodycontent %}

{% include 'admin/adduser_modal2.html' %}

{% include 'admin/testmail_modal.html' %}

	<div class="app-container">
		<div class="app-main-menu">
			<div class="opt-logo"></div>
			<div class="info-box">
				<div class="username">{{current_user.username}}</div>
				<div class="small-menu">
					<a class="menuitem" id="menuitem_logout"><i class="fa fa-power-off"></i></a>
				</div>
			</div>
			<div class="big-menu">
				<a class="menuitem" id="menuitem_messages"><i class="fa fa-envelope"></i><span>üzenetek</span></a>
				<a class="menuitem" id="menuitem_users"><i class="fa fa-users"></i><span>felhasználók</span></a>
				<a class="menuitem" id="menuitem_modules"><i class="fa fa-box-open"></i><span>modulok</span></a>
				<a class="menuitem" id="menuitem_reports"><i class="fa fa-chart-bar"></i><span>kimutatások</span></a>
				<a class="menuitem" id="menuitem_db"><i class="fa fa-book"></i><span>adatbázis</span></a>
				<a class="menuitem" id="menuitem_log"><i class="fa fa-file-alt"></i><span>naplózás</span></a>
				<a class="menuitem" id="menuitem_game"><i class="fa fa-puzzle-piece"></i><span>játék</span></a>
			</div>
		</div>
		<div class="app-content">
			<!-- ÜZENETEK -->
			<div id="tab-messages" class="app-tab">
			</div>

			<!-- USERS -->
			<div id="tab-users" class="app-tab">
				<div id="users-pages" class="page-navigator">

					<div class="navigator-address-bar">
						<a><i class="fa fa-home"></i></a>
						<a>új felhasználó</a>
						<a>aktuális oldal</a>
					</div>

					USERS
					<!--<a @click="showAddUser">ADDUSER</a>-->
					<i class="fa fa-user-plus" @click="showAddUser"></i>

					<advanced-table
						:fields="[
							{name: 'id', title: 'ID', alignment: 'right', sortable: false},
							{name: 'username', title: 'felhasználónév', alignment: 'left', sortable: true},
							{name: 'contact', title: 'kontakt', alignment: 'left', stretch: true, sortable: false},
							{name: 'added', title: 'regisztráció', alignment: 'left', stretch: true, sortable: true}
			 			]"
						:records="users"
						:page="0"
						:records-per-page="10"
						@selection-changed="handleSelectionChanged"
						:record-menu="[
							{title: 'Felhasználó törlése', icon: 'fa-trash-alt', action: 'del_user'}
						]"
						:action-router="actionRouter"
					>
					</advanced-table>

				</div>
			</div>

			<!-- MODULES -->
			<div id="tab-modules" class="app-tab">
			</div>

			<!-- REPORTS -->
			<div id="tab-reports" class="app-tab">
			</div>

			<!-- DB -->
			<div id="tab-db" class="app-tab">
				{% include 'admin/db_operate.html' %}
			</div>

			<!-- LOGGING -->
			<div id="tab-log" class="app-tab">
				{% include 'admin/log_operate.html' %}
			</div>

			<!-- GAME -->
			<div id="tab-game" class="app-tab">
				{% include 'admin/spacechase.html' %}
			</div>

		</div>
	</div>


<script src="/static/js/admin/admin.js"></script>

{%endblock%}