{% extends 'base.html' %}

{% block headercontent %}

	<!-- saját stíluslapok -->
	<link rel="stylesheet" href="static/css/admin/opt-adminuser-generic.css"/>

	<!-- komponensek -->
	<script src="static/js/components/App.js"></script>
	<script src="static/js/components/ActionRouter.js"></script>
	<script src="static/js/components/Fa.js"></script>
	<script src="static/js/components/AppTab.js"></script>
	<script src="static/js/components/TabUsers.js"></script>
	<script src="static/js/components/TabSettings.js"></script>

	<!-- admin data-->
	<script>var admin_data = {{data|safe}};</script>
	<script src="static/js/admin/admin.js"></script>
{% endblock %}

{% block bodycontent %}

	<div class="app-container" id="app"></div>

	<script src="static/js/admin/admin-app.js"></script>

{% endblock %}