<link rel="stylesheet" href="static/css/modals2.css"/>

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div id="sendmail_modal" class="modalback" style="display:none;">
    <div id="adduser_frame" class="frame">

        <div class="closeicon" onclick="$('#sendmail_modal').hide();">
            <i class="material-icons" style="color: red;">disabled_by_default</i>
        </div>

        <div class="logoimg">
            <img src="/static/img/logo.png">
        </div>

        <div class="tbar">
            <a id="adduser_titlebar">tesztüzenet küldése</a>
        </div>

        <br>
    <div class="credits" id="credits">

        <a id="error">
            Hibás adatok!
        </a>

        <form id="sendmail" method="POST" onsubmit=loadstart()">

            <div class="inp">
                <span>
                    <i class="fa fa-at"></i>
                    <input type="text" placeholder="címzett" id="addr" style="text-align: center; width: 80%;">
                </span>
            </div>

            <div class="inp">
                <span>
                    <i class="fa fa-bone"></i>
                    <input type="text" placeholder="tárgy" id="subj" style="text-align: center; width: 80%;">
                </span>
            </div>

            <!--<div class="inp">
                <span>
                    <i class="fa fa-envelope-open-text"></i>
                    <input type="text" placeholder="üzenet" id="body" style="text-align: center; width: 80%;">
                </span>
            </div>-->

            <div id="editor" style="min-height:120px;">

            </div>

            <script>
                var quill = new Quill('#editor', {
                theme: 'snow'
                });
            </script>

        </form>

    </div>

    <br>
    <span class="submit_btn">

        <button id="adduser_submitbutton" class="btn_gen" onclick="sendmail()">
            <i class="fa fa-user-plus"></i>
            levél küldése
        </button>

    </span>

    </div>

    <script>
    </script>

</div>