<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<script src="../vue3.js"></script>
	<script src="main.js" defer></script>
	<style>
		.fade-enter-from { opacity: 0; }
		.fade-enter-active { transition: opacity 1s ease; }
		.fade-leave-to { opacity: 0; }
		.fade-leave-active { transition: opacity 1s ease; }
		.slide-enter-from { transform: scale(1,0); }
		.slide-enter-active { transition: transform 1s ease; }
		.slide-leave-to { transform: scale(1,0); }
		.slide-leave-active { transition: transform 1s ease; }
	</style>
</head>
<body>

	<div id="app">
		<about :visible="boxVisible"></about>
		<button @click="handleClick">CLiCK</button>
	</div>


</body>
</html>