<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/opt-adminuser-generic.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<script src="https://unpkg.com/vue@next"></script>
	
	<!-- komponensek -->
	<script src="js/components/AdvancedTable.js"></script>
	<script src="js/components/ActionRouter.js"></script>
	<script src="js/components/SettingsTab.js"></script>
	<script src="js/components/MessagesTab.js"></script>
	<script src="js/components/UsersTab.js"></script>
	<script src="js/components/ModulesTab.js"></script>
	<script src="js/components/TestbatteriesTab.js"></script>
	<script src="js/components/ReportsTab.js"></script>
	<script src="js/components/DbTab.js"></script>
	<!-- komponensek -->

	<script src="js/admin-actions.js"></script>
	<script src="js/admin-app.js" defer></script>
</head>



<body>

	<div class="app-container" id="main-app">
		<div class="app-main-menu">
			<div class="opt-logo"></div>
			<div class="info-box">
				<div class="username">current_user.username</div>
				<div class="small-menu">
					<a class="menuitem" 
					   id="menuitem_logout"
					   @click="callLogout">
					   <i class="fa fa-power-off"></i>
					</a>
					<a class="menuitem" 
					   id="menuitem_logout"
					   @click="currentTab = 'settings-tab'">
					   <i class="fa fa-cogs"></i>
					</a>
				</div>
			</div>
			<div class="big-menu">
				<a class="menuitem"
				   id="menuitem_messages"
				   @click="currentTab = 'messages-tab'"
				   :class="currentTab == 'messages-tab' ? 'active' : ''">
				   <i class="fa fa-envelope"></i><span>üzenetek</span>
				</a>
				<a class="menuitem" 
				   id="menuitem_users" 
				   @click="currentTab = 'users-tab'"
				   :class="currentTab == 'users-tab' ? 'active' : ''">
				   <i class="fa fa-users"></i><span>felhasználók</span>
				</a>
				<a class="menuitem" 
				   id="menuitem_modules" 		
				   @click="currentTab = 'modules-tab'"
				   :class="currentTab == 'modules-tab' ? 'active' : ''">
				   <i class="fa fa-box-open"></i><span>modulok</span>
				</a>
				<a class="menuitem" 
				   id="menuitem_testbatteries"
				   @click="currentTab = 'testbatteries-tab'"
				   :class="currentTab == 'testbatteries-tab' ? 'active' : ''">
				   <i class="fa fa-clipboard-list"></i><span>tesztcsomagok</span>
				</a>				
				<a class="menuitem" 
				   id="menuitem_reports"
				   @click="currentTab = 'reports-tab'"
				   :class="currentTab == 'reports-tab' ? 'active' : ''">
				   <i class="fa fa-chart-bar"></i><span>kimutatások</span>
				</a>
				<a class="menuitem" 
				   id="menuitem_db"
				   @click="currentTab = 'db-tab'"
				   :class="currentTab == 'db-tab' ? 'active' : ''">
				   <i class="fa fa-book"></i><span>adatbázis</span>
				</a>
			</div>
		</div>
		<div class="app-content">
			<component v-if="currentTab" :is="currentTab" v-bind="tabProperties">
			</component>
		</div>
		<div v-if="disabled" class="app-disabled-modal"></div>		
	</div>



</body>