<style>
    #mailframe{
        max-width: 700px;
        max-height: 300px;
        background-color: rgba(66, 135, 245, .5);
        backdrop-filter: blur(2px);
        border: 1px solid #333333;
        border-radius: 2px;
        color: #333333;
    }

    #logoimg{
        position: relative;
        display: inline-block;
        float: left;

    }

</style>

<div id="mailframe">

    <div class="logoimg">
        <img src="/static/img/logo.png">
    </div>

    <h1>OPT STANDARD ÜZENET</h1>

    <p>{{body}}</p>

</div>